.hero
  .hero__onlineHelp
    img.hero__onlineHelp-img
    span.hero__onlineHelp-text      Помощь онлайн
  section.hero
    .hero__header.
      moneyveo - мгновенны кредит онлайн
    .hero__headerMain
    .hero__left
      .hero__title
        span.hero__title-upper.
          Получите до 15000 грн на свою карту
        span.hero__title-lower.
          Первый кредит - до 3500грн под 0,01%
      .hero__main
        input.hero_main-sum(type="range" min="50" max="3500")
        input.hero_main-sumT(type="text")
        input.hero_main-sum(type="date")
        input.hero_main-sumC(type="text")
        button получить кредит
        a(href="#") У меня есть промокод
      .hero__right
        span.hero__right Ваш кредит:
        .hero__res
          .hero__res-date

          .hero__res-cred

          .hero__res-proc

          .hero__res-result
